/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

$firstColor: #622774;
$secondColor: #C53364;
// $gradientIntro: linear-gradient(to right, $firstColor, $firstColor, white, $firstColor, $firstColor);
$gradientIntro: linear-gradient(to right, $secondColor, $firstColor, white, $firstColor, $secondColor);
$gradientHeader: linear-gradient(to right, $firstColor, $secondColor);
$gradientDetail: linear-gradient($secondColor, $firstColor);
$gradientColor1: $firstColor;
$gradientColor2: $secondColor;
$textColor: #32143b;
$secondTextColor: #C53364;
$backgroundColor: #c5336415; 


@mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);
    
    box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
                0 -1px 0 $weight rgba($mix-sub-from, .25),
                1px 0 0 $weight rgba($mix-sub-to, .25),
                -1px 0 0 $weight  rgba($mix-sub-from, .25),
                1px -1px 0 $weight rgba($mix-main, .5),
                -1px 1px 0 $weight rgba($mix-main, .5),
                1px 1px 0 $weight rgba($to, .75),
                -1px -1px 0 $weight rgba($from, .75);
}

// ------------------ Nav i strona startowa

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro_wraper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin: 0.5rem
    }  

    .intro_header {
            // font-size: 2rem;
            // margin: 0.5rem;
            // padding: 0;
            color: transparent;
            background: $secondColor;
            background-clip: text;
        
            animation: animate 3s linear;   
    }

    .btn_wraper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        border: none;
        padding: 1rem 2rem;
        margin: 15px;
        text-align: center;
        font-size: 1rem;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColor;
        @include border-gradient($firstColor, $secondColor, 1px);
    }

    .btn:focus {
        border: none;
        padding: 1rem 2rem;
        margin: 15px;
        text-align: center;
        font-size: 1rem;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColor;
        @include border-gradient($firstColor, $secondColor, 1px);
    }

    a {
        text-decoration: none;
        color: $textColor;
    }
}

@keyframes animate {
    from {
        color: transparent;
        background: $gradientIntro;
        background-size: 250%;
        background-clip: text;
        background-position: left;
    }

    to {
        color: transparent;
        background: $gradientIntro;
        background-size: 250%;
        background-clip: text;
        background-position: right;
    }
}

  //--------------Quiz

.container {

      .container_question {
        width: 80vw;
        margin: 1.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #888888;

        h2 {
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
            color: transparent;
            background: $gradientHeader;
            background-clip: text;
            border: solid 1px;
        }
        
        .container_answears {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 1rem;

            .container_answear {
                margin: 0.5rem;
            }
        }

      }
}

  .container_answear {
    padding-left: 1rem;

    .radio {
        color: $textColor;
        position: relative;
        
        
    }
    
    .radio input {
        
        opacity: 0;
        height: 0;
        width: 0;
      }
    
    .radio input:checked + span {
        background-color: $firstColor;
      }
      

    .radio span {
        display: inline-block;
        position: absolute;
        left: -1rem;
        top: 0.3rem;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        border: none;
        @include border-gradient($gradientColor1, $gradientColor2);
      }
  }

  //-----------------Typy sylwetek - opisy

  .container {
    .FT_header {
        font-size: 1rem;;
        font-weight: 700;
    }

    .container_type {
        margin: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: $textColor;
        box-shadow: 5px 5px 10px #888888;
        border-radius: 5px;
        

        .header_wraper {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                padding: 0.5rem;
                padding-top: 2rem;
                color: transparent;
                background: $gradientHeader;
                background-clip: text;
            }

            .description {
                position: relative;
                width: 85%;
                padding-left: 2rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            .description::before {
                content: "";
                position: absolute;
                left: 0.5rem;
                display: block;
                width: 8px;
                height: 100%;
                background: $gradientDetail;
            }
        }
       

        .tips {
            
            padding-left: 2rem;
            padding-right: 0.5rem;

            h3 {
                font-weight: 700;
                color: transparent;
                background: $gradientHeader;
                background-clip: text;
                padding-top: 1rem;
                padding-bottom: 0.5rem;
            }
        }

        .tip {
            position: relative;
            margin: 1rem;
        }

        .tip::before {
            content: "";
            position: absolute;
            left: -1rem;
            top: 0.25rem;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $firstColor;
        }
    }
     
}

//-------------Informacje o wynikach

.container {
    .result_header {
        padding: 2rem;
    }
}


